/* ///////////////  ABOUT COMPONENT ////////////////// */

.about-cont{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    width: 100vw;
    height: 100vh;
}
.h1-about{
    position: relative;
    top: 5%;
    color: rgba(255, 255, 255, 0.753);
    font-size: 2rem;
}
.h2-description{
    position: absolute;
    top: 15%;
    right: 30%;
    font-size: 2rem;
}
.p-description{
    width: 30vw;
    text-align: center;
    line-height: 4vh;
    font-size: 1.5rem;
}

.about-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    color: white;
    width: 50vw;
    height: 100vh;
}
.about-subcont{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.p-changue{
    transition: .2s;
    position: absolute;
    bottom: 15%;
    font-size: 1rem;
    cursor: pointer;
    z-index: 8;
}
.p-changue:hover{
    transition: .2s;
    color: rgb(162, 221, 255);
    font-size: 1.1rem;
}
.foto-perfil{
    position: relative;
    background-image: url('../../assets/fotoperfil.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;
    border-radius: 50%;
    opacity: .8;
    z-index: 5;
    border: 2px solid rgba(255, 255, 255, 0.534);
    width: 25vw;
    height: 50vh;
    animation: spawn 1s ease-in-out;
}
.foto-perfil::before{
    transition: .3s;
    content: 'Soy Yo!';
    position: relative;
    top: 0%;
    left: 0%;
    color: white;
    font-size: 0%;
    transform: scale(0);

}
.foto-perfil:hover::before{
    transition: .3s;
    top: -10%;
    font-size: 150%;
}
@keyframes spawn {
    from{opacity: 0;} to{opacity: .8;}
}
.none{
    display: none;
}
@media(max-width:1000px){
    .about-cont{
        flex-direction: column;
    }
    .foto-perfil{
        top: 8%;
        width: 30vw;
        height: 30vh;
    }
    .about-subcont{
        width: 100%;
        height: 50vh;
        flex-direction: column;
    }
    .about-description{
        position: relative;
        width: 100vw;
        display: flex;
        align-items: center;
        height: 40vh;
    }
    .h2-description{
        position: relative;
        top: -5%;
        left: 0;
        font-size: 4vw;
    }
    .p-description{
        top: 0;
        text-align: start;
        font-size: 2.5vw;
        height: 100%;
        width: 80%;
    }
    .p-changue{
        position: relative;
        top: unset;
        left: unset;
        right: unset;
        bottom: unset;
    }
    .btn-description{
        bottom: -7%;
        left: 0;
        transform: translateX(75%);
        width: 40vw;
        height: 5vh;
    }

}
@media(max-width:600px){
    .about-cont{
        flex-direction: column;
    }
    .foto-perfil{
        top: 8%;
        width: 40vw;
        height: 20vh;
    }
    .about-subcont{
        width: 100%;
        height: 50vh;
        flex-direction: column;
    }
    .about-description{
        position: relative;
        top: -6%;
        width: 100vw;
        align-items: center;
        text-align: center;
        height: 50vh;
    }
    .h2-description{
        top: 0;
        left: 0;
        font-size: 5vw;
    }
    .p-description{
        position: relative;
        top: 5%;
        text-align: start;
        font-size: 3.5vw;
        height: 100%;
        width: 80%;
    }
    .btn-description{
        bottom: -7%;
        left: 0;
        transform: translateX(75%);
        width: 40vw;
        height: 5vh;
    }

}
/* //////////////   SKILLS PAGE       //////////////////////// */

.skills-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100vw;
    height: 100vh;
}
.btn-switcher{
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    position: absolute;
    width:10vw;
    left: 10%;
    z-index: 6;
    top:20%;
    height: 8vh;
}
.h3-tecnologias{
    position: relative;
    top: 10%;
    text-align: center;
    font-size: 1.5rem;
    color: white;
}
.p-aptitud{
    position: absolute;
    top: 3%;
    font-size: 17px;
    font-weight: 600;
}
.cont-tecngologias{
    position: relative;
    top: 20%;
    display: grid;
    width: 75vw;
    height: 60vh;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
    z-index: 6;
}
.cont-tecngologias > div{
    transition: .1s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(195, 204, 219);
    width: 55%;
    height: 55%;
    border-radius: 30%;
    border:8px solid rgba(245, 222, 179, 0);
    z-index: 7;
}


.react::before,
.redux::before,
.css::before,
.sass::before,
.html::before,
.postgres::before,
.javascript::before,
.git::before,
.nodejs::before,
.nginex::before{
    content: '';
    display: flex;
    text-align: center;
    border-radius: 50% 50% 5% 50%;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -48%;
    left: -50%;
    width: 100%;
    font-weight: 800;
    height: 40%;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    background-color: rgb(195, 204, 219);
    opacity: 0;
    z-index: 1;
}
.react:hover::before,
.redux:hover::before,
.css:hover::before,
.sass:hover::before,
.html:hover::before,
.postgres:hover::before,
.javascript:hover::before,
.git:hover::before,
.nodejs:hover::before,
.nginex:hover::before,
.auto:hover::before,
.solucion:hover::before,
.team:hover::before,
.learn:hover::before,
.proactivo:hover::before,
.comunicacion:hover::before{
    transition: .3s;
    opacity: 1;
    animation: motionafter ease .1s ;
}

@keyframes motionafter {
    from{transform: scale(0);}to{transform: scale(1);}
}
.react:hover,
.redux:hover,
.css:hover,
.sass:hover,
.html:hover,
.postgres:hover,
.javascript:hover,
.git:hover,
.nodejs:hover,
.nginex:hover,
.auto:hover,
.solucion:hover,
.team:hover,
.learn:hover,
.proactivo:hover,
.comunicacion:hover{
    transition: .1s;
    border: 8px solid rgba(0, 8, 83, 0.65);
    transform: scale(1.1);
}
.react::before{content: 'React & R.Native';}
.redux::before{content: 'Redux';}
.css::before{content: 'CSS3';}
.sass::before{content: 'SASS-SCSS';}
.html::before{content: 'HTML5';}
.postgres::before{content: 'PostgreSQL';}
.javascript::before{content: 'JavaScript';}
.git::before{content: 'Git';}
.nodejs::before{content: 'Node.js';}
.nginex::before{content: 'Nginex';}

.skills-personales{
    position: relative;
    top: 10%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 70vw;
    height: 70vh;
    align-items: center;
    justify-items: center;
    gap: 2rem;

    /* background-color: aquamarine; */
}
.skills-personales > div{
    transition: .1s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(195, 204, 219);
    width: 45%;
    height: 58%;
    border-radius: 30%;
    border:8px solid rgba(245, 222, 179, 0);
    z-index: 7;
}
.auto::before,
.solucion::before,
.team::before,
.learn::before,
.proactivo::before,
.comunicacion::before{
    content: '';
    display: flex;
    text-align: center;
    border-radius: 40% 40% 20% 20%;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -68%;
    left: 0%;
    width: 100%;
    font-weight: 800;
    height: 60%;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    background-color: rgb(195, 204, 219);
    opacity: 0;
    z-index: 1;
}
.auto::before{content: 'Auto-suficiente (capacidad de trabajar solo sin complicaciones)';}
.solucion::before{content: 'Buena resolución de problemas, sean técnicos o personales';}
.team::before{content: 'Capacidad de adapatarme y trabajar en equipo';}
.learn::before{content: 'Adoro aprender constantemente y enriquezer mis conocimientos';}
.proactivo::before{content: 'Me considero una persona proactiva, tengo inciativa y me anticipo a problemas';}
.comunicacion::before{content: 'Poseo una buena capacidad de comunicación';}

.skills-h2{
    position: relative;
    top:2%;
    font-size: 3rem;
    color: beige;
}
@media(max-width:1000px) {
    .cont-tecngologias{
        width: 100vw;
        height: 50vh;
        top: 8%;
        gap:0;
        grid-template-columns: repeat(4,1fr);
    }
    .skills-personales{
        top: 5%;
        width: 100vw;
        height: 40vh;
        gap: 0;
    }
    .p-aptitud{
        font-size: 1.5vw;
        top: 0;
    }
    .skills-personales > div{
        width: 60%;
        height: 70%;
        font-size: 1vw;
    }
    .skills-personales > div::before{
        font-size: 1.5vw;
        top: -90%;
        border-radius: 10%;
        height: 80%;
    }

    .cont-tecngologias > div{
        width: 50%;
        height: 60%;
    }
    .cont-tecngologias > div::before{
        font-size: 1.5vw;
    }
    .solucion::before,
    .learn::before,
    .comunicacion::before{
        top: unset !important;
        left: unset !important;
        bottom: -90%;
    }
    .react::before,
    .sass::before,
    .git::before{
        left: 50%;
        border-radius: 50% 50% 50% 0%;
    }
    .imgIco{
        width: 80%;
        height: 80%;
    }
    .btn-switcher{
        position: absolute;
        width: 25vw;
        top: unset;
        left: unset;
        bottom: 4%;
        right: 10%;
    }
    .skills-h2{
        top: -10%;
        font-size: 4vw;
    }
    .h3-tecnologias{
        top: -10%;
        font-size: 3vw;
    }


}
@media(max-width:600px) {
    .cont-tecngologias{
        width: 100vw;
        height: 50vh;
        top: 0%;
        gap:0;
        grid-template-columns: repeat(4,1fr);
    }
.p-changue{
    position: absolute;
    bottom: -5%;
}
.p-changue:hover{
    font-size: unset;
}
    .skills-personales{
        top: -0%;
        width: 100vw;
        height: 40vh;
        gap: 0;
    }
    .p-aptitud{
        font-size: 2vw;
        top: 0;
    }
    .skills-personales > div{
        width: 70%;
        height: 60%;
    }
    .skills-personales > div::before{
        font-size: 2.5vw;
        top: -90%;
        border-radius: 10%;
        height: 80%;
    }
    .solucion::before,
    .learn::before,
    .comunicacion::before{
        top: unset !important;
        left: unset !important;
        bottom: -90%;
    }
    .cont-tecngologias > div{
        width: 70%;
        height: 55%;
    }
    .cont-tecngologias > div::before{
        font-size: 3vw;
    }
    .react::before,
    .sass::before,
    .git::before{
        left: 50%;
        border-radius: 50% 50% 50% 0%;
    }
    .imgIco{
        width: 80%;
        height: 80%;
    }
    .btn-switcher{
        position: absolute;
        width: 25vw;
        top: unset;
        left: unset;
        bottom: 12%;
        right: 10%;
    }
    .skills-h2{
        top: -10%;
        font-size: 8vw;
    }
    .h3-tecnologias{
        top: -10%;
        font-size: 4vw;
    }

}