@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');

.none{
    display: none;
}
.navbar{
    z-index: 11;
    position: relative;
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(35, 38, 56, .3);
    backdrop-filter: blur(15px);
    position: fixed;
    top: 0;
    right: 0;
}
.link{
    transition: .3s;
    position: sticky;
    font-size: 100%;
    text-decoration: none;
    color: white;
    white-space: nowrap;
    margin-left: 5%;
    margin-right: 5%;
}
.link:hover{
    transition: .3s;
    transform: scale(1.1);
    color: rgb(167, 252, 255);
}
.ico{
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    position: absolute;
    left: 2%;
    top:12%;
    background-color: rgba(130, 238, 215, 0.075);
    width: 4rem;
    height: 80%;
    border-radius: 50%;
    z-index: 3;

}
.ico::after{
    content: 'ML';
    transition: .3s;
    position: relative;
    top: 5%;
    left: 5%;
    font-family: 'Bonheur Royale', cursive;
    font-size: 2rem;
    color:rgba(255, 255, 255, 0.801);
    opacity: .7;
    text-shadow: 0 0px 10px black;
}

.ico:hover::after{
    transition: .3s;
    transform: skewX(-5deg) scale(1.20);
    color:rgb(255, 255, 255);
    opacity: 1

}
.none{
    display: none;
}
.contLinks{
    display: flex;
    width: 50%;
    position: relative;
    color: white;
    justify-content: space-around;
}

.navegacionBtnCont{
    display: flex;
    flex-direction: column-reverse;
    justify-content:center;
    align-items: center;
    position: absolute;
    top: 0%;
    right: 0;
    width: 5vw;
    height: 40vh;
    z-index: 10;
  
  }
  .btnLinkNext,
  .btnLinkPrev{
    transition: .1s;
   background-image: url('../../assets/arrow.png');
   background-position: center;
   background-size: cover;
   width: 3vw;
   height: 7vh;
   opacity: .2;
  }
  .btnLinkPrev{
    right: 10%;
    position: relative;
    transform: rotate(-180deg);
  }
  .btnLinkPrev:hover{
    transition: .1s;
    opacity: .7;
    transform: scale(1.1) rotate(-180deg);
  }
  .btnLinkNext:hover{
    transition: .1s;
    opacity: .7;
    transform: scale(1.1);
  }
  .btnLinkNext{
    position: relative;
    right: 10%;
  
  }
@keyframes ghostFooter {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);


    }  
}
@keyframes ghostFooterDesactivate {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);


    }  
}
@keyframes ghostFooterIco {
    from{
        transform: translateX(100%) rotate(270deg);
    }
    to{
        transform: translateX(0%) ;

    }    
}
@keyframes ghostFooterIcoDes {
    from{
        transform: translateX(-100%) rotate(270deg);
    }
    to{
        transform:  scale(0.5) rotate(270deg);

    }
    
}
@media (max-width:1000px){
    .navegacionBtnCont{
        width: 15vw;
        height: 40vh;
    }
    .btnLinkNext,
    .btnLinkPrev{
        width: 8vw;
        height: 6vh;
    }
}
@media (max-width:600px){
    .contLinks{
        position: absolute;
        right: 5%;
        width: 70%;
    }
    .navegacionBtnCont{
        width: 15vw;
        height: 28vh;
    }
    .btnLinkNext,
    .btnLinkPrev{
        width: 10vw;
        height: 5vh;
    }
    .link{
        font-size: 3.3vw;
        white-space:nowrap;
        margin-left: 3%;
        margin-right: 3%;
    }
}
